.. {{PROJECT_NAME}} documentation master file as created by sphinx-quickstart.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

.. image:: images/CGnal.png
   :align: center
   :scale: 100 %

Welcome to {{PROJECT_NAME}} documentation!
==============================================

.. toctree::
   :caption: Intro:

   intro/readme

.. toctree::
   :caption: User Guide

   userguide/index.rst

.. toctree::
   :caption: Developer Guide:

   api/modules

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
